*.iml

*.xml

*.o

*.make

*.includecache

*.cmake

*.internal

*.cbp

cmake-build-debug/2d_CSD

*.bin

*.out

cmake-build-debug/CMakeFiles/3.8.2/CompilerIdC/CMakeCCompilerId.c

cmake-build-debug/CMakeFiles/3.8.2/CompilerIdCXX/CMakeCXXCompilerId.cpp

*.check_cache

*.log

cmake-build-debug/CMakeFiles/feature_tests.c

cmake-build-debug/CMakeFiles/feature_tests.cxx

cmake-build-debug/CMakeFiles/Makefile2

*.marks

cmake-build-debug/Makefile

*.output

cmake-build-debug/data_csd.txt

cmake-build-debug/CMakeCache.txt

cmake-build-debug/CMakeFiles/2d_CSD.dir/link.txt

mat.txt

data_csd.txt

Res.txt

vec.txt

csd

cmake-build-debug/Makefile

*.xml

cmake-build-debug/2d_CSD

cmake-build-debug/2d_CSD.cbp

cmake-build-debug/cmake_install.cmake

cmake-build-debug/CMakeCache.txt


cmake-build-debug/CMakeFiles/2d_CSD.dir/build.make

*.includecache

*.cmake

*.internal

cmake-build-debug/CMakeFiles/2d_CSD.dir/depend.make

cmake-build-debug/CMakeFiles/2d_CSD.dir/flags.make

cmake-build-debug/CMakeFiles/2d_CSD.dir/link.txt

cmake-build-debug/CMakeFiles/2d_CSD.dir/progress.make


cmake-build-debug/CMakeFiles/3.8.2/CompilerIdC/CMakeCCompilerId.c

cmake-build-debug/CMakeFiles/3.8.2/CompilerIdCXX/CMakeCXXCompilerId.cpp

cmake-build-debug/CMakeFiles/clion-environment.txt

cmake-build-debug/CMakeFiles/clion-log.txt

cmake-build-debug/CMakeFiles/TargetDirectories.txt


cmake-build-debug/mat.txt

cmake-build-debug/Res.txt

cmake-build-debug/vec.txt


cmake-build-debug/timing.txt

cmake-build-debug/CMakeFiles/cmake.check_cache

*.log

cmake-build-debug/CMakeFiles/feature_tests.c

cmake-build-debug/CMakeFiles/feature_tests.cxx

cmake-build-debug/CMakeFiles/Makefile2

cmake-build-debug/CMakeFiles/progress.marks

cmake-build-debug/CMakeFiles/TargetDirectories.txt

.idea/2d_CSD.iml

run_batch.sh

timing.txt
