
*.iml

*.xml

*.o

*.make

*.includecache

*.cmake

*.internal

*.cbp

cmake-build-debug/2d_CSD

*.bin

*.out

cmake-build-debug/CMakeFiles/3.8.2/CompilerIdC/CMakeCCompilerId.c

cmake-build-debug/CMakeFiles/3.8.2/CompilerIdCXX/CMakeCXXCompilerId.cpp

*.check_cache

*.log

cmake-build-debug/CMakeFiles/feature_tests.c

cmake-build-debug/CMakeFiles/feature_tests.cxx

cmake-build-debug/CMakeFiles/Makefile2

*.marks

cmake-build-debug/Makefile

*.output

cmake-build-debug/data_csd.txt

cmake-build-debug/CMakeCache.txt

cmake-build-debug/CMakeFiles/2d_CSD.dir/link.txt

cmake-build-debug/CMakeFiles/clion-environment.txt

cmake-build-debug/CMakeFiles/clion-log.txt

cmake-build-debug/CMakeFiles/TargetDirectories.txt

data_csd.txt

data_csd.txt
