
mat.txt

data_csd.txt

Res.txt

vec.txt

csd

cmake-build-debug/Makefile

*.xml

cmake-build-debug/2d_CSD

cmake-build-debug/2d_CSD.cbp

cmake-build-debug/cmake_install.cmake

cmake-build-debug/CMakeCache.txt

*.o

cmake-build-debug/CMakeFiles/2d_CSD.dir/build.make

*.includecache

*.cmake

*.internal

cmake-build-debug/CMakeFiles/2d_CSD.dir/depend.make

cmake-build-debug/CMakeFiles/2d_CSD.dir/flags.make

cmake-build-debug/CMakeFiles/2d_CSD.dir/link.txt

cmake-build-debug/CMakeFiles/2d_CSD.dir/progress.make

*.bin

*.out

cmake-build-debug/CMakeFiles/3.8.2/CompilerIdC/CMakeCCompilerId.c

cmake-build-debug/CMakeFiles/3.8.2/CompilerIdCXX/CMakeCXXCompilerId.cpp

cmake-build-debug/CMakeFiles/clion-environment.txt

cmake-build-debug/CMakeFiles/clion-log.txt

cmake-build-debug/CMakeFiles/cmake.check_cache

*.log

cmake-build-debug/CMakeFiles/feature_tests.c

cmake-build-debug/CMakeFiles/feature_tests.cxx

cmake-build-debug/CMakeFiles/Makefile2

cmake-build-debug/CMakeFiles/progress.marks

cmake-build-debug/CMakeFiles/TargetDirectories.txt

.idea/2d_CSD.iml

run_batch.sh

timing.txt

*.swp

cmake-build-debug/log.txt

log.txt

Scripts/*

cmake-build-debug/flux_csd.txt

converge_runs/dt005/data_csd_128.txt

converge_runs/dt005/data_csd_32.txt

converge_runs/dt005/data_csd_64.txt

converge_runs/dt01/data_csd_128.txt

converge_runs/dt01/data_csd_32.txt

converge_runs/dt01/data_csd_64.txt

cmake-build-debug/csd_dt.txt
